.grid{
    width: 200px;
    height: 400px;
    background-color: royalblue;
    display: flex;
    flex-wrap: wrap;
}

.grid div{
    height: 18px;
    width: 18px;
    border: 1px solid black;
}

.tetromino{
    background-color: red;
}